@import "../../styles/variables.scss";

.loader {
  position: relative;

  width: 50px;
  margin: 0 auto;

  opacity: 1;

  &:before {
    display: block;

    padding-top: 100%;

    content: "";
  }
}

.circular {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: auto;

  transform-origin: center center;
  animation: rotate 3s linear infinite;
}

.path1,
.path3 {
  animation: dash 2s ease-in-out infinite;

  stroke-linecap: round;
}

.path2 {
  animation: dash 1.5s ease-in-out infinite;

  stroke-linecap: round;
}

.one {
  animation: pulse 2s ease-in-out;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes pulse {
  0% {
    fill: $wacky-white;
  }
  50% {
    fill: $valiant-violet;
  }
  100% {
    fill: $bonkers-black;
  }
}
