@import "./variables.scss";
@import "../components/App/App.scss";
@import "../components/Card/Card.scss";
@import "../components/Loader/Loader.scss";

body {
  margin: 0;
  padding: 0;

  font-family: $funky-fonts;
}
