@import "../../styles/variables.scss";

.container {
  position: absolute;

  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    to top,
    $bonkers-black 15%,
    $valiant-violet 15%
  );
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__logo {
  align-self: center;

  width: 170px;
}

.form__input {
  padding: 2px 10px;

  color: $bonkers-black;
  border: none;
  border-bottom: 2px solid $bonkers-black;
  background-color: $wacky-white;

  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    opacity: 1;
    color: $wacky-white;
  }

  &:focus {
    outline: none;
  }

  &[readonly] {
    cursor: not-allowed;
  }
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  margin-top: 40px;
}

.form__button {
  display: inline-block;

  padding: 0.55em 2em 0.65em;

  cursor: pointer;
  transition: all 0.2s ease-out;
  text-align: center;
  vertical-align: middle;

  color: $wacky-white;
  border: none;
  border-radius: 4px;
  background-color: $valiant-violet;
  box-shadow: 4px -4px 0 $wacky-white;

  font-size: 16px;

  &:hover {
    color: $valiant-violet;
    background-color: $wacky-white;
    box-shadow: -4px 4px 0 $valiant-violet;
  }
}

@media (min-width: 600px) {
  .form__label {
    transform: translateY(40px);
  }

  .form__input {
    width: 400%;

    transform: translateX(100px);

    &::placeholder {
      color: $glamorous-grey;
    }
  }
}
