@import "../../styles/variables.scss";

.card {
  position: absolute;
  bottom: 10%;

  padding: 20px;

  color: $wacky-white;
  background-color: $bonkers-black;
  box-shadow: 10px 10px 0 $bonkers-black;
}
